services:
  api:
    build: .
    ports:
      - "8000:80"
    # ここで .env ファイルを自動で読み込む指定をします
    # appディレクトリ内から見て、親ディレクトリの.envを参照
    env_file:
      - ./.env
    # 【便利機能】ローカルのコードをコンテナに同期させる設定（ホットリロード用）
    # これを書くと、PC側でコードを書き換えたらコンテナ側も即反映されます
    # appディレクトリ内から見て、現在のディレクトリをマウント
    volumes:
      - .:/code/app
    # ホットリロードを有効にするコマンドに変更
    command: uvicorn app.main:app --host 0.0.0.0 --port 80 --reload